@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,300;0,500;0,900;1,100;1,500;1,900&display=swap');

body {
  background-color: #0f172a;
  font-family: 'Inter', sans-serif;
  color: #e2e8f0;

}
a:link {
  color: #6d94ee;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;

}
.colorss{
  background-color: #6d94ee;
}
  
.feat{
  width:100%;
  height:300px;
}
.feat th{

      background-color: #ff0000;
    
}
.midsection{
  background-color: whitesmoke;
  padding: 100px;
  color: black;
  width: 100%;
  
}
.features{
  align-items: center;
  padding: 100px

}

header {
  text-align: center;
  color: #e2e8f0;
  height: fit-content;
}

header h5 {
  font-weight: 300;
}

h1 {
  font-weight: 500;
  letter-spacing: -1px;
}

/* header{
  height: 100vh;
  background-color: #083344;
  text-align: center;
  color:#e2e8f0;
  padding: 10vh;
} */
img {
  padding: 0px;
}

div {
  max-width: 100%;
}
.cert{
  padding-bottom: 100px ;
  padding-top: 100px;
}
.test{
  padding-bottom: 100px ;
  padding-top: 100px;
}
.mainme {
  height: fit-content;
}

.mainme h1 {
  font-size: 48px;
  margin-left: 40px;

}

.mainme p {
  font-weight: 300;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  line-height: 2;
  text-align: justify;
}

.fora {
  margin-left: 40px;
}

.mainme li {

  padding-left: 0px;
  list-style-type: none;

}

.herotext {
  align-items: center;
  padding-left: 10px;
}

.maintext {
  padding: 0px;
  line-height: 50%;
  letter-spacing: -2px;

}

.subtext {
  font-weight: 300;
}


/* 
.dp {
  margin: 0 auto;
  text-align: center;
margin-left: 40px;
height: 100px;
position: absolute;
top: 50%;
left: 50%; 
transform: translate(-50%, -50%);

width: 100px;
clip-path: circle();
} */
.linkedin {
  height: 32px;
  clip-path: circle();
}

.row {
  display: flex;
}

.mainme .column {
  flex: 50%;
  padding: 10px;
  height: 80vh;
}

.mainme button {
  height: 40px;
  width: 25%;
}

.scrolltodown {
  padding: 30px;
  text-align: center;
}

.card {
  /* background: rgba(15, 23, 42, 0.5); */
  /* background-color: #94a3b8; */
  /* opacity: 0.1; */
  max-height: 300px;
  /* max-width: 100%; */
  /* width: 50px; */
  /* padding: 30px; */
text-justify: center;

}

.card:hover {
  background: rgba(148, 163, 184, .1);
  /* opacity: 0.5; */
  transition: 0.3s;
  color: #e2e8f0;


}

.card1 {
  /* background: rgba(15, 23, 42, 0.5); */
  /* background-color: #94a3b8; */
  /* opacity: 0.1; */
  max-height: 300px;
  max-width: 100%;
  padding: 20px 20px 10px 10px;
  /* max-width: 100%; */
  /* width: 50px; */
  /* padding: 30px; */
text-justify:newspaper;



}

.card1:hover {
  background: rgba(148, 163, 184, .1);
  /* opacity: 0.5; */
  transition: 0.3s;


}
.card2 {
  /* background: rgba(15, 23, 42, 0.5); */
  /* background-color: #94a3b8; */
  /* opacity: 0.1; */
  max-height: 300px;
  /* max-width: 100%; */
  /* width: 50px; */
  /* padding: 30px; */
text-justify: center;

}

.cards2 p {
  padding-left: 10%;

}
.cards {
  overflow-x: clip;
  display: grid;
  column-gap: 40px;
  max-width: 100%;
  max-height: 300px;
  /* row-gap: 20px; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  color: #0f172a;
} 
  .headingproj {
    margin-left: 10px;
  }

  .testimonial {
    position: relative;
    padding: 0;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-rows: repeat(2, minmax(300px, 1fr));
  }
  .fright img{
   
    height: 80%;
    width: 30%;
    padding-left:  10px;
    padding-top: 10px;
    padding-right: 40px;

  }
  .fright p{
    margin-left: 40px;
    font-weight: 300;
  }
  .fleft img{
   
    height: 80%;
    width: 30%;
    padding-left:  10px;
    padding-top: 10px;
    padding-right: 40px;

  }
  .fleft h3{
    padding-left: 40px;
  }
  .fleft p{
    margin-left: 40px;
    font-weight: 300;

  }


  .row3 {
    display: grid;
}
.column3{
    flex: 50%;
    
  
}
.cert video{
  max-width: 100%;
}

.features{
  align-items: center;

}
.pricerange{
  align-items: center;
  
}
.herotext{
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.mediasection{
  text-align: center;
}
.midsection{
  background-color: whitesmoke;
  padding: 100px;
  color: black;
  
}
.midsection1{
  background-color: black;
  padding: 10px;
  color: white;
  justify-content: left;
  align-items: left;
  
}

footer{
  align-items: center;
  text-align: center;
  padding: 100px;
  background-image: linear-gradient(to bottom, #0f172a,  #2c3b5d );
}
.footer p{
  color: #222222;
  text-decoration: r;
}
audio{
  max-width: 100%;
}
  @media screen and (min-width: 1024px) {}

  @media screen and (min-width: 768px) and (max-width: 1023px) {}



  @media screen and (min-width: 480px) and (max-width: 767px) {}

  @media screen and (max-width: 480px) {
    *{
      overflow-x: hidden;
    }
    .column {
      width: 100%;
    }

    .row {
      display: grid;
      row-gap: 40px;
    }

    .card {
      margin-bottom: 10px;
      max-width: 90%;

    }
.card img{
  max-width: 90%;
}
    .cards {
      display: inline;
    }

    .card1 {
      margin-bottom: 10px;

      

    }
    .card1 img{
      align-items: center;
    }
    


    .cards1 {
      display: inline;
    }
    .card1 img{
      display: none;
    }
    .fleft h3{
      padding-left: 0px;
    }

    div {
      max-width: 100%;
    }
    .mainme h1 {
      font-size: 24px;
      margin-left: 0px;
      text-align: center;

    }

    .mainme .column {

      max-width: 100%;
      padding-left: 0px;
      height: fit-content;
      align-items: center;
      justify-content: center;
    }

    .mainme button {
      padding-left: 0px;
      height: 40px;
      width: 100%;
    }

    .fora {
      margin-left: 20px;

    }
    .testimonial{
      display: inline;

    }
    .testimonial img{
      padding: 0px;
    }
    .cert{
      padding-bottom: 30px ;
      padding-top: 30px;
    }
    footer{
      padding: 0px;
      padding-top: 20px;
    }

  }